body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
}

header {
    background-color: #01153e;
    padding: 1rem;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.about img {
    float: left;
    margin-right: 20px;
    width: 150px;
}

.about {
    background: url('bush.png') repeat;
}


.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}
.sidebar ul li img {
    width: 32px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #01153e;
    color: white;
}
